@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  overflow-x: hidden;
}

.logo {
  height: 150px;
  width: 150px;
  /* Used to change the color of the font */
  background-image: url(./assets/MikefitnesslogoTrasparente-modified.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  position: relative;
  bottom: -4px;
}

h1 {
  font-size: 49px;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 32px;
  text-align: center;
}

p {
  line-height: 1.5;
}

.text__red {
  color: #d2122e;
}

.bold{
  font-weight: bold;
}

button {
  cursor: pointer;
}

.header__container .button__header {
  background-color: #222;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
}

.header__container .button__header:hover {
  background-color: white;
  border: black 1px solid;
  color: #d2122e;
}

button:active {
  transform: translateY(1px);
}

.button {
  background-color: #d2122e;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 14px;
}

section:nth-child(odd) {
  background-color: #f3f3f3;
}

.section__title {
  padding-top: 30px;
}

/* Nav and header Section */

nav {
  height: 80px;
  display: flex;
  justify-content: center;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav__link {
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  color: #222;
}

.nav__link:hover {
  text-decoration: underline red;
}

.nav__link--primary {
  color: white;
  background-color: #222;
  border: #222 1px solid;
  border-radius: 14px;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: white;
  border: black 1px solid;
  color: #d2122e;
}

.button__menu {
  background-color: transparent;
  border: none;
  font-size: 40px;
  text-align: center;
  color: #d2122e;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.button__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #fff;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  font-size: 40px;
  color: #fff;
  padding: 50px 10px;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

/* Header */

header {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#home {
  background-color: #fff;
}

.button__header--wrapper{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__image--wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

/* Main */

.container {
  padding: 88px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Introduction */

#introduction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction__header{
  width: 100%;
  padding-top: 30px;
  max-width: 1100px;
  text-align: center;
  color: #222;
}

.introduction__para{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1100px;
  font-size: 26px;
  text-align: center;
  color: #222;
}

/* highlights */

/* To add the wave efect to before

#highlights::before {
    background: url("./assets/wave.svg");
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-100%);
}

To add the wave efect */

#highlights::after {
  background: url("./assets/wave.svg");
  content: "";
  position: absolute;
  width: 100%;
  height: 12vw;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-99%);
}

.highlight__wrapper {
  display: flex;
  padding-bottom: 24px;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.highlight__img {
  border: 2px solid #c2c2c2;
  color: #d2122e;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  font-size: 32px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.highlight__subtitle {
  font-style: 24px;
  margin-bottom: 5px;
  text-align: center;
}

.highlight__para {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
  max-width: 280px;
}

/* bestseller */

#bestseller::after {
  background: url("./assets/wave.svg");
  content: "";
  position: absolute;
  width: 100%;
  height: 12vw;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(0%);
  transform: rotate(180deg);
}

.program__img {
  max-height: 350px;
  box-shadow: 0 5px 60px rgba(0, 0, 0, 0.75);
  transition: scale 300ms ease;
  cursor: no-drop;
}

.bestseller {
  display: flex;
  justify-content: center;
}

.program {
  width: calc(100% / 4);
  text-align: center;
  padding: 24px;
}

.program:hover .program__img {
  transform: scale(1.03);
}

.program__img--wrapper {
  overflow: hidden;
  display: flex;
}

.program__img {
  border-radius: 4px;
  overflow: hidden;
}

.program__title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 32px;
}

.program__title:hover {
  text-decoration: underline;
  cursor: no-drop;
}

.program__ratings {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: #fabf2a;
}

.program__price {
  display: flex;
  justify-content: center;
}

.program__price--normal {
  text-decoration: line-through;
  padding-right: 8px;
  color: #bfbfbf;
}

.program__price--discount {
  color: #d2122e;
}

/* Programas */

#programs {
  padding: 50px 24px;
}

.programs {
  display: flex;
  justify-content: space-around;
}

/* Footer */

footer {
  background-color: #242424;
  display: flex;
  justify-content: center;
}

.footer__image--wrapper {
  display: flex;
  justify-content: center;
}

.footer__logo--img {
  width: 160px;
  background-image: url(./assets/MikefitnesslogoTrasparente.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__logo--wrapper {
  display: flex;
  justify-content: center;
}

.footer__link,
.footer__copyright {
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
}

.footer__links--wrapper {
  margin-bottom: 36px;
}

.footer__link {
  padding: 0 8px;
}

/* SMALL PHONES LARGE TABLETS */

@media (max-width: 768px) {
    .header__description{
        padding: 0 24px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 26px;
    }
    .button{
        font-size: 18px;
    }
    .program{
        width: 50%;
    }
    .programs{
        padding: 0 24px;
    }
    .highlight {
        width: 100%;
    }
    .highlight__wrapper {
        flex-wrap: wrap;
    }
}

/* SMALL PHONES LARGE TABLETS */

@media (max-width: 550px) {
  .nav__links {
    display: none;
  }

  .button__menu {
    display: block;
  }
}
