@import url("https://fonts.googleapis.com/css2?family=Alice&family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

.logo {
  height: 150px;
  width: 150px;
  /* Used to change the color of the font */
  background-image: url(./assets/MikefitnesslogoTrasparente-modified.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  position: relative;
  bottom: -4px;
}

h1 {
  font-size: 56px;
  color: #d2122e;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 32px;
  text-align: center;
}

p {
  line-height: 1.5;
}

.text__red {
  color: #d2122e;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.button {
  background-color: #d2122e;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 14px;
}

section:nth-child(odd) {
  background-color: #f3f3f3;
}

/* Nav and header Section */

nav {
  height: 80px;
  display: flex;
  justify-content: center;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav__link {
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #d2122e;
  font-weight: bold;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #d2122e;
  border-radius: 14px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

header {
  padding-top: 15px;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#home {
  background-color: #fff;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__container {
  width: 100%;
  max-width: 720px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__image--wrapper {
  padding: 20px 20px 0px 20px;
  z-index: 2;
}

/* Main */

.container {
  padding: 88px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* highlights */

/* To add the wave efect to before

#highlights::before {
    background: url("./assets/wave.svg");
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-100%);
}

To add the wave efect */

#highlights::after {
  background: url("./assets/wave.svg");
  content: "";
  position: absolute;
  width: 101vw;
  height: 12vw;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-99%);
}

.highlight__wrapper {
  display: flex;
  padding-bottom: 24px;
}

.section__title__highlights {
  padding-top: 30px;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.highlight__img {
  border: 2px solid #c2c2c2;
  color: #d2122e;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  font-size: 32px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.highlight__subtitle {
  font-style: 24px;
  margin-bottom: 5px;
  text-align: center;
}

.highlight__para {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
  max-width: 280px;
}

/* bestseller */

#bestseller::after {
  background: url("./assets/wave.svg");
  content: "";
  position: absolute;
  width: 101vw;
  height: 12vw;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(0%);
  transform: rotate(180deg);
}

.program__img {
  height: 350px;
  box-shadow: 0 10px 60px rgba(0, 0, 0, .60);
  transition: scale 300ms ease;
  cursor: no-drop;
}

.programs {
  display: flex;
  justify-content: center;
}

.program {
  width: calc(100% / 4);
  text-align: center;
  padding: 24px;
}

.program:hover .program__img{
    transform: scale(1.03);
}

.program__img--wrapper{
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.program__title{
    font-size: 20px;
    margin-bottom: 8px;
}

.program__ratings{
    color: #000;
}
